.product-card img{
    width:400px;
    height:400px;}



.product-card li {
    margin: 15px; /* Adjust the value as per your preference */
    border: 1px solid black;
    list-style-type: none;
  }
  