.footer{
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-top:30px;
    margin-left: 100px;
    margin-right: 100px;
    border-top-left-radius: 1cm;
    border-top-right-radius: 1cm;

  }

.links {
    display: flex;
    color: black;
    
  }
  
  .link-column {
    flex: 1;
    margin-right: 20px;
    
  }
  .link-column ul{
    list-style-type: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
  
    
  }
  .footer .content .top .links .link-column h4 {
    margin-bottom: 10px;
}
.footer .content .top {
    flex: 1;
    padding-top: 40px;
}
.link-column ul li {

    margin-bottom: 5px;
    font-size: 17px; /* Adjust the font size as desired */
  }