.about{

  font-family: Sans-Serif;
  justify-content:center;
  padding:40px;
  align-items: center;
  background-color:#ffc13b;
  color:white;
  border-top: 0px;
  border-radius: 8%;
  margin-left:8%;
  margin-right:8%;
  margin-bottom: 2%;

}
.content{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.text p{
  font-size: 20px; 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text {
  flex: 1; /* Add this line to make the text occupy available space */
}

.text p {
  font-size: 20px;
}

.codepathabout {
  max-width: 30%; /* Adjust the value to control the image size */
  margin-left: 20px; /* Add some margin to separate the image from the text */
  border-radius:9%;
  object-position: -20% 0;
}