
.productGrid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    margin-left: 100px;
}

  .itemsearch{
    color:antiquewhite;
    font-size: 100px;
    text-align: center;
    justify-content: center;
    align-self: self;}
 #searchInput{
    width:900px;
    height:60px;
 }   
.catagorybtn{
        margin-top: 10px;
        width:auto;
        font-size: 50px;
        color: #ffc13b;
        height:50px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #eaeaea;
        color: #333;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
}
.catagorybtn:hover {
    background-color: #ccc;
  }
.catagoryButtons{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
}
.catagorybtn{

    font-size: 13px;
    height:30px auto;
    width:50px auto;
}
/* 
#EDC7B7    EEE2DC  BAB2B5  123C69  AC3B61, */